.Aabout {
    background-color: #01AEE7;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.ppp {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFF500;
    padding: 30px;
}

.h11 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.h33 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.bola {
    width: 295px;
    height: 456px;
    text-align: center;
}

.bola h2 {
    color: #01AEE7;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.bola p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.Atyps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.Abrend {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}

.backimg2 {
    background-image: url("../../assets/images/Afitnes.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1220px;
    margin: 0 auto;
}

.truefitnessopacity {
    width: 1000px;
    height: 600px;
    background: #120E0E5E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat";
}

.poluchite {
    font-size: 40px;
    color: white;
}

.truefitnessbro {
    color: #FFFF19;
}

.mdkok {
    color: #01AEE7;
}

.mibudemradi {
    color: #CDC848;
}

.mdinputboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.mdinput {
    background-color: #D9D9D9;
    border: none;
    font-size: 16px;
    padding: 10px 10px;
    font-family: "Monserrat";
}

.mdbtnotpravit {
    background-color: #01AEE7;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 30px;
    font-family: "Monserrat";
}

.najimaya {
    color: white;
}